@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="margin-top:6rem">
    <h1>Mensajeria de Consultas/Quejas</h1>
    <p class="lead">En esta seccion usted podra contactarse con el personal de quejas o consultas</p>
    <button class="btn btn-primary">
        Ir al Chat
    </button>
</div>

