@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="margin-top:6rem">
    <h1>ADMINISTRADOR DE CANALES</h1>
    <p class="lead">En este proyecto se muestra como el administraddor puede comunicarse a traves de varios canales.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>ENVÍO DE CORREOS</h2>
        <p>
            Aquí podrás enviar correos a los usuarios, y notificarles con el asunto que sea requerido.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ir a canal de correos</a></p>
    </div>
    <div class="col-md-6">
        <h2>CHAT DE MENSAJERÍA</h2>
        <p>Aquí podrás responder los mensajes de los usuarios han escrito en la aplicación.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ir a canal de mensajería</a></p>
    </div>
    <div class="col-md-6">
        <h2>Facebook</h2>
        <p>
            Aquí podrás enviar mensajes al perfil de Facebook del usuario.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ir a canal de Facebook</a></p>
    </div>
    <div class="col-md-6">
        <h2>Twitter</h2>
        <p>
            Aquí podrás enviar notificaciones como un twit al usuario.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ir a canal de Twitter</a></p>
    </div>
</div>